<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjq_g51DAYHaD59t7M5chemVDtXsZBw3A</string>
	<key>GCM_SENDER_ID</key>
	<string>535478705350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterPractise</string>
	<key>PROJECT_ID</key>
	<string>my-super-cool-project-17805878</string>
	<key>STORAGE_BUCKET</key>
	<string>my-super-cool-project-17805878.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535478705350:ios:d3fa3c0a4bf430c38d0bc7</string>
</dict>
</plist>